.jumbotron-fluid {
    background-image: url('../assets/img1.jpg');
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}

.container {
    display: grid;
    grid-template-columns: 20% 20% 30% 20%;
    
}

.container > div {
    margin-right: 1em;
    background-color: #eee;
}

.container > div:nth-child(even) {
    background-color: #ddd;
    padding: 1em;
    box-sizing: border-box;
}

.container > div:nth-child(even) > * {
    margin: 0.2em;
    margin-top: 0.2em;
}

a > img {
    width: 250px;
    margin: auto;
}